<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from pro.crea8social.com/signup by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Mar 2017 11:18:20 GMT -->
<head>
    <title>Outdoors- Rejoignez notre réseau</title>
    <meta property="og:site_name" content="outdoors" />
    <meta name="description" content="outdoors is the leading social networking software that helps you build your own custom online community. If you are looking to buy a social networking script with variety of modern features? outdoorso is a complete social network script for you." />
    <meta property="og:description" content="outdoors is the leading social networking software that helps you build your own custom online community. If you are looking to buy a social networking script with variety of modern features? outdoors is a complete social network script for you." />
    {#<meta property="og:image" content="storage/uploads/logo/d47cf485ccd7f3ea71671ed9462dff2c.png" />#}
    {#<link rel="image_src" href="storage/uploads/logo/d47cf485ccd7f3ea71671ed9462dff2c.png" />#}
    <meta name="keywords" content="Social Networking, outdoors, outdoors,  Social Network, Social Media, Social network script, start social network, create own social network, facebook clone, PHP script, social network software" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">
    {#<link rel="shortcut icon" type="image/x-icon" href="storage/uploads/logo/e342ba6ed08ed6e3aabfe249ce6fefe6.png" />#}
    <script></script>
    <style>
        input, select, textarea {
            font-size: 16px !important;
        }
    </style>
    <link href="{{ asset('Templates/css/f9c39579e83b50e66119d5eed136e0a8.css') }}" rel='stylesheet' type='text/css'/>

    <style>
        .marketplace .marketplace-featured-listing {
            background-color: #FF0000 !important;
            color: #FFCCCC !important;
        }
    </style>
    <style>
        #header{background-color:#3498db;}
        #header #header-search input[type=text]{background:#ffffff;}
        a{color: #d10f2f;}
        #explore-menu{background: #FFFFFF;}
        #explore-menu .container > ul li a{color: #808080;}
        #explore-menu .container > ul .arrow-up{border-bottom-color: #e9eaed}
        #explore-menu .container #all-container > a {
            background:#626A73;
            color: #808080;
        }
        #main-wrapper{
            background-color: #e9eaed;
            background-image: none;
            background-attachment: fixed;
            background-position: top ;
            background-repeat: no-repeat;
        }
        #main-wrapper > .container {
        }
        #main-wrapper > .container a{color : #d10f2f}
        .btn-info {
            background: #F62459 !important;
            border-color : #F62459 !important;;
        }
        .verify-badge{color : #19B5FE}
    </style>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55859117-1', 'auto');
        ga('send', 'pageview');

    </script></head>


<body data-general-error="Nous nous sommes confus, essayons à nouveau ou recharger votre page">
<!--HEADER-->


<nav id="header" class="navbar navbar-fixed-top  ">
    <div id="loading-line"></div>
    <div class="container" style="padding: 0">
        <a href="#" onclick="return open_sidebar_menu()" class="header-menu-trigger"><i class="ion-android-menu"></i></a>
        <a  class="navbar-brand brand-non-login" href="{{ path('fos_user_security_login') }}"><img src="{{ asset('') }}" /><span></span></a>
        <ul id="header-right" class="nav navbar-nav pull-right">


        </ul>
    </div>
    <div id="site-wide-notification" class="success">
        <span class="message"></span>
        <a href="#" onclick="return closeNotify()" class="close"><i class="ion-close"></i></a>
    </div>
    <a id="feed-top-update-alert" href="#"><div ><span></span> <br/>de nouveaux flux</div></a>
</nav>
<div class="modal fade" id="quick-post-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div class="modal-body"><p>One fine body&hellip;</p></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END HEADER-->
<div id="sidebar-menu">
    <ul class="nav slimscroll" data-height="90%">

        <li><a href="loginT.html.twig" class="dropdown-item"><i class="ion-log-out"></i> Se déconnecter</a> </li>
    </ul>
</div>

{% block content %}
<div id="main-wrapper" class="header-space">


    <div  class="dashboard-content" style="padding: 0">
        <div class="columns-container one_column_layout">
            <div class="top ">
            </div>
            <div class="container">
                <div class="middle-container rows clearfix">
                    <div class="left-col col-md-4">
                        <div class="left-col-content">
                        </div>
                    </div>
                    <div>
                        <div style="margin-top: 15px" class="main-content">
                            <form class="panel-container card register-pane-container" >
                                <div class="title"> Inscrivez-vous compte </div>
                                <div class="card-block">

                            </div>



                    <div class="right-col col-md-4">
                        <div class="right-col-content"></div>
                    </div>
                            </form>
                       </div>
            </div>
            <div class="bottom container">
            </div>
        </div></div>
</div>


        </div><!-- /.modal-content -->
</div>  <!-- /.modal-dialog -->
<!-- /.modal -->
{% endblock content %}
<div id="footer">
    <div class="container">
    </div>
    <div class="container footer-content ">

        <div class="pull-left">

        </div>
        <div id="footer-copyright" class="pull-right">
            Copyright © 2017 Outdoors. Tous droits reservés.<br/> Powered by Outdoors.
        </div>

    </div>
</div>


</body>

<!-- Mirrored from pro.crea8social.com/signup by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Mar 2017 11:18:25 GMT -->
</html>