
<form method="POST">
    <fieldset style="width: 500px">
        <legend>Interface de modification</legend>
        <table border="0">
            <tr>
                <td>Auteur </td>
                <td><textarea  id="pub" name="pub"></textarea></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="post"/></td>
            </tr>
        </table>
    </fieldset>

</form>