{% extends 'AppBundle:Layouts:layout.html.twig' %}
{% block content %}


        <div class="alert alert-danger" style="align-content: center">
            <h3>opss !!! </h3>
            <p>Vérifier la date de votre challenge</p>
             <a href="{{ path('Ajouter_CH') }}">
            <input type="button" value="Retour">
             </a>
        </div>

{% endblock %}